<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ios.kefu.mapper.KfGameContactMapper" >
  <resultMap id="BaseResultMap" type="com.ios.kefu.pojo.KfGameContact" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gameID" property="gameid" jdbcType="BIGINT" />
    <result column="deptId" property="deptid" jdbcType="BIGINT" />
    <result column="qq" property="qq" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gameID, deptId, qq, phone
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ios.kefu.pojo.KfGameContactExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kf_game_contact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from kf_game_contact
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from kf_game_contact
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ios.kefu.pojo.KfGameContactExample" >
    delete from kf_game_contact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ios.kefu.pojo.KfGameContact" >
    insert into kf_game_contact (id, gameID, deptId, 
      qq, phone)
    values (#{id,jdbcType=BIGINT}, #{gameid,jdbcType=BIGINT}, #{deptid,jdbcType=BIGINT}, 
      #{qq,jdbcType=BIGINT}, #{phone,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ios.kefu.pojo.KfGameContact" >
    insert into kf_game_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gameid != null" >
        gameID,
      </if>
      <if test="deptid != null" >
        deptId,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="phone != null" >
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gameid != null" >
        #{gameid,jdbcType=BIGINT},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=BIGINT},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ios.kefu.pojo.KfGameContactExample" resultType="java.lang.Integer" >
    select count(*) from kf_game_contact
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update kf_game_contact
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gameid != null" >
        gameID = #{record.gameid,jdbcType=BIGINT},
      </if>
      <if test="record.deptid != null" >
        deptId = #{record.deptid,jdbcType=BIGINT},
      </if>
      <if test="record.qq != null" >
        qq = #{record.qq,jdbcType=BIGINT},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update kf_game_contact
    set id = #{record.id,jdbcType=BIGINT},
      gameID = #{record.gameid,jdbcType=BIGINT},
      deptId = #{record.deptid,jdbcType=BIGINT},
      qq = #{record.qq,jdbcType=BIGINT},
      phone = #{record.phone,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ios.kefu.pojo.KfGameContact" >
    update kf_game_contact
    <set >
      <if test="gameid != null" >
        gameID = #{gameid,jdbcType=BIGINT},
      </if>
      <if test="deptid != null" >
        deptId = #{deptid,jdbcType=BIGINT},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ios.kefu.pojo.KfGameContact" >
    update kf_game_contact
    set gameID = #{gameid,jdbcType=BIGINT},
      deptId = #{deptid,jdbcType=BIGINT},
      qq = #{qq,jdbcType=BIGINT},
      phone = #{phone,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>